<div class="nav-wrapper">
  <div class="nav-wrapper__left">
    <div class="nav-wrapper__left__logo">
      <%= image_tag("logo.png") %>
    </div>

    <div class="nav-wrapper__left__link">
      <%= link_to root_path do %>
        <%= inline_svg('my-feed.svg', class: 'nav-icon') %>
        <span>My Feed</span>
      <% end %>
    </div>

    <div class="nav-wrapper__left__link">
      <%= link_to root_path do %>
        <%= inline_svg('catagories.svg', class: 'nav-icon') %>
        <span>Topics</span>
      <% end %>
    </div>

    <div class="nav-wrapper__left__link">
      <%= link_to root_path do %>
        <%= inline_svg('users.svg', class: 'nav-icon') %>
        <span>Users</span>
      <% end %>
    </div>

    <div class="nav-wrapper__left__link">
      <%= link_to root_path do %>
        <%= inline_svg('posts.svg', class: 'nav-icon') %>
        <span>Posts</span>
      <% end %>
    </div>
  </div>

  <div class="nav-wrapper__search">
    <%= form_with url: search_query_path, method: :get, local: true do |f| %>
      <span class="search-wrapper">
        <span id="search-icon-id" class="fa fa-search"></span>
        <%= f.text_field :q, id: :q, class: 'search-box', placeholder: 'What do you want to learn today?' %>
      </span>
    <% end %>
  </div>

  <div class="nav-wrapper__new-post">
    <%= link_to new_guide_path, class: "btn-primary" do %>
      New Post
    <% end %>
  </div>

  <div class="nav-wrapper__right">
    <div class="nav-wrapper__right__link">
      <%= link_to root_path do %>
        <%= inline_svg('settings-icon.svg', class: 'nav-icon') %>
      <% end %>
    </div>

    <div class="nav-wrapper__right__avatar">
      AVATAR
    </div>
  </div>
</div>
