<div class="container-md">
  <div>
    <h2>Login</h2>
  </div>

  <div class="card">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="grid-1">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
        </div>
      </div>

      <div class="grid-1">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "text-field" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="center">
        <%= f.submit "Log in", class: "btn-primary" %>
      </div>
    <% end %>

    <div class="center devise-links">
      Don't have an account? <%= link_to "Register for free", new_user_registration_path %>
    </div>
  </div>
</div>
