<div class="list-container__item">
  <div class="list-container__item__thumb">
    <%= link_to guide do %>
      <%= guide_thumb(guide) %>
    <% end %>
  </div>

  <div class="list-container__item__content">
    <div class="guide-title">
      <%= link_to guide do %>
        <%= guide.title.truncate(60) %>
      <% end %>
    </div>
  </div>

  <div class="list-container__item__ratings">
    <%= link_to root_path do %>
      <%= inline_svg('upvote.svg', class: 'vote-icon') %>
    <% end %>

    <div class="list-container__item__ratings__counter">
      42
    </div>

    <%= link_to root_path do %>
      <%= inline_svg('downvote.svg', class: 'vote-icon') %>
    <% end %>
  </div>
</div>
