<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'DailySmarty | Learn Something New Everyday (and keep track of it)' %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= yield %>
  </body>
</html>
